img {
    width: 150px;
    height: 200px;
}

#game-container {
    position: relative;
    margin: auto;
    height: 850px;
    width: 90%;
    background-color: aqua;
    border: 5px solid black;
}

#reset-selected {
    position: relative;
    margin-left: 95%;
    margin-top: 3%;
}

.entity-container {
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.hp-bar-container {
    width: 120px;
    height: 30px;
    background-color: grey;
    border: 5px solid blue;
    margin: auto;
}

.hp-percentage-left {
    width: 100%;
    background-color: green;
}

.hp-percentage-right {
    width: 0%;
    background-color: red;
}

.level-name, .h-button {
    position: relative;
    margin-top: 5%;
    text-align: center;
    color: blueviolet;
    font-size: 50px;
}

#game-over-display, #game-won-display {
    color: red;
    font-size: 75px;
}

.links {
    font-size: 30px;
    position: relative;
    top: 5px;
    margin-left: 30%;
}

.h-button {
    cursor: pointer;
}

#warrior-display, #rogue-display, #cleric-display, #wizard-display {
    z-index: 5;
}

#ewarrior-display, #erogue-display, #ecleric-display, #ewizard-display {
    z-index: 2;
}

.controls-display {
    font-size: 20px;
    color: purple;
    text-align: center;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.level-button-container {
    margin: auto;
}

.level-button {
    border: 3px solid blue;
    color: black;
    cursor: default;
    width: 200px;
    height: 200px;
    opacity: 60%;
}