img {
    width: 150px;
    height: 200px;
}

#game-container {
    position: relative;
    margin: auto;
    height: 900px;
    width: 90%;
    background-color: lawngreen;
    border: 5px solid black;
}

.entity-container {
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.hp-bar-container {
    width: 120px;
    height: 30px;
    background-color: grey;
    border: 5px solid blue;
    margin: auto;
}

.hp-percentage-left {
    width: 100%;
    background-color: green;
}

.hp-percentage-right {
    width: 0%;
    background-color: red;
}

.level-name {
    position: relative;
    margin-top: 5%;
    text-align: center;
    color: blueviolet;
    font-size: 70px;
}

#level-name-display {
    cursor: default;
    margin-bottom: 0;
    padding-bottom: 0;
}

#game-over-display, #game-won-display {
    color: red;
    font-size: 80px;
    margin-top: 15%;
}

.links {
    font-size: 30px;
    position: relative;
    top: 5px;
    margin-left: 30%;
}

.h-button {
    cursor: pointer;
    text-align: center;
    font-size: 100px;
    position: relative;
    margin: auto;
    width: 550px;
    padding: 15px;
    top: 15%;
    z-index: 2;
    color: rgb(22, 141, 195);
    background-color: rgb(143, 75, 143);
    border: 6px solid steelblue;
}

#a1-display, #a2-display, #a3-display, #a4-display {
    z-index: 7;
}

#e1-display, #e2-display, #e3-display, #e4-display {
    z-index: 6;
}

.controls-display {
    font-size: 20px;
    color: purple;
    text-align: center;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#level-button-container {
    display: flex;
    flex-wrap: wrap;
}

.level-button {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    border: 5px solid blue;
    color: black;
    cursor: default;
    width: 270px;
    height: 270px;
    opacity: 60%;
    font-size: 60px;
    color: purple;
    word-wrap: break-word;
}

#background-image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#tutorial-message {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 40px;
    color: red;
    z-index: 2;
    cursor: default;
}

#begin-level-container {
    position: relative;
    top: 15%;
    margin: auto;
    width: 340px;
}

#begin-level-button {
    text-align: center;
    padding: 12px;
    border: 6px solid black;
    position: relative;
    text-align: center;
    font-size: 60px;
    background-color: blueviolet;
    color: black;
    cursor: pointer;
}

#test, #return-button {
    position: absolute;
    z-index: 3;
}

#return-button {
    font-size: 30px;
    cursor: pointer;
    right: 4px;
    top: 4px;
    width: 80px;
    padding: 4px;
    text-align: center;
    color: red;
    background-color: cadetblue;
    border: 3px solid crimson;
    text-decoration: none;
}

#test {
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    background-color: red;
}

#warrior-base-img {
    top: 25%;
    position: relative;
    left: 32%;
    width: 180px;
    height: 240px;
    z-index: 2;
}

#rogue-base-img {
    top: 25%;
    position: relative;
    left: 27%;
    width: 180px;
    height: 240px;
    z-index: 2;
}

#wizard-base-img {
    top: 25%;
    position: relative;
    left: 22%;
    width: 180px;
    height: 240px;
    z-index: 2;
}

#cleric-base-img {
    top: 25%;
    position: relative;
    left: 37%;
    width: 180px;
    height: 240px;
    z-index: 2;
}

#game-tag-container {
    width: 100%;
    z-index: 2;
}

#game-tag {
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 180px;
    width: 900px;
    text-align: center;
    padding: 10px;
    color: red;
    border: 5px solid red;
    background-color: steelblue;
    position: relative;
    z-index: 2;
}